
html{
  font-size: 16px;
}

button:focus {outline:0;}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
 /* ==========================================================================
 Global Styles
 ========================================================================== */

body {
    padding-top: 3.375rem;/*54px*/
    font-family: "roboto";
}




/* ==========================================================================
Text Styles
========================================================================== */

h1{
  font-family: "Open Sans";
  color: #774BAF;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 3.7rem;
  letter-spacing: 0.0625rem;

}

h2{
  font-family: "Open Sans";
  color: #774BAF;
  font-size: 2.25rem; /*21px*/
  text-align: center;
  font-weight: 600;
  line-height: 3.7rem;
  letter-spacing: 0.0625rem;

}

h3{  font-family: "Roboto";
  color: #774BAF;
  font-size: 1.3125rem;
  text-align:right;
  font-weight: 400;
  letter-spacing: .03125rem;

}

h4{
  font-family: "Roboto";
  color: #774BAF;
  font-size: 2.25rem;
  text-align:right;
  font-weight: 300;
  letter-spacing: .03125rem;

}

h5{
  font-family: "Roboto";
  color: #A081CF;
  font-size: 1.125rem;
  text-align:right;
  font-weight: 500;
  letter-spacing: .03125rem;


}

h6{
  font-family: "Roboto";
  color: #774BAF;
  font-size: 1.2rem;
  text-align:right;
  font-weight: 400;
  letter-spacing: .03125rem;
  padding-top: .625rem
;
}


.no-margin{
  margin: 0;
}

.text-maincolor{
  color: #774BAF;
}
.text-blue{
  color: #237EEE;
}
.text-yellow{
  color: #F4AD0F;
}


/* ==========================================================================
Header Stytles
========================================================================== */
header.masthead {
    background:url('../img/home.svg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 95vh;
    margin: 0  auto;
}

.header-text{
  margin: 0 auto;
  padding-top: 6.5rem;
  position: relative;
  z-index: 10;
}


.header-button{
  width: auto;
  height: 3.125rem;
  border: solid .09375rem #774BAF;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  padding: 0 1.875rem 0 1.875rem
;
  margin-top: 5rem;
  color: #774BAF;
  text-decoration: none;
}

 .header-button:hover{
  background-color: #774BAF;
  color: #fff;
  text-decoration: none;

}

.nodecor:hover {
  text-decoration: none;
}
/*----------------------------------- subpage*/
header.classes-head {
    background: #774BAF;
    height: 60vh;
    margin: 0  auto;
}
header.seminar-head {
    background: #237EEE;
    height: 60vh;
    margin: 0  auto;
}

.img-align-center{
  margin: 0 auto;
  display: block;
  padding-top: 1.75rem;
}
.margin-top{
  margin-top: 2.5rem;
  display: block;
}

.sub-header-text{
  margin: 0 auto;
  padding-top: 4.5rem;
  position: relative;
  z-index: 10;
}



/* ==========================================================================
Navbar
========================================================================== */
nav{
  background-color: #fff;
  font-family: "roboto";
  font-weight: 400;
  font-size: 1rem;
}

.navbar-nav .active>.nav-link{
  color: #774BAF;
  display: block;
}
.nav-link{
  color: #8C8C8C;
  margin-left: 0.9375rem;
}
.nav-link:hover{
  color: #774BAF;
}
/*----------------------------------- subnav-purple*/
.classes-nav-bg{
  background-color: #774BAF;
}

.navbar-nav .active-sub>.nav-link{
  color: #FFCC33;
}
.nav-item-sub .nav-link{
  color: #FFFFFF;
}
.nav-item-sub .nav-link:hover{
  color: #FFCC33;
}

/*----------------------------------- subnav-blue*/
.seminar-nav-bg{
  background-color: #237EEE;
}

/*-----------------------------------hamburger*/

#hamburger{
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  padding-top: .125rem;
}

#hamburger span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #774BAF;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



#hamburger span:nth-child(1) {
  top: 4px;
}

#hamburger span:nth-child(2) {
  top: 12px;
}

#hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger.open span:nth-child(1) {
  top: 1.125rem;/*18px*/
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -3.75rem;/*-60px*/
}

#hamburger.open span:nth-child(3) {
  top: 1.125rem;/*18px*/
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/* ==========================================================================
Main-Home
========================================================================== */
section{
  /*margin: 100px 0;*/
}

p{
  color: #616161;
}

a{
  text-decoration: none;
}
.para-center{
  text-align: center;
  font-size: 1.3125rem;
  font-weight: 300;
  letter-spacing: .03625rem;
}

.para-right{
  text-align:right;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: .03625rem;
}

.para-left{
  text-align:left;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .03625rem;
}

.photo-wrapper{
display: block;
margin: 0 auto;
border-radius: 50%;
border: .625rem solid #A081C7;
margin-bottom: 3.125rem; /*50px*/
}


.left-align{
  text-align: left;
}

.center-align{
  text-align: center;
}
.dark-gray{
  color: #545454;
}
.letter-spacing-05{
  letter-spacing: .03125rem;
}
.tx-wegiht-mid{
  font-weight: 400;
}

.service-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  margin-top: 3.5rem;
}
.service-box{
  width: 90%;
  min-height: 63vh;
  background: #FFFFFF;
  box-shadow: 0 .125rem 1.0625rem 0 rgba(183,181,176,0.26);
  border-radius: .5rem;
  padding: 5rem 3.125rem;
  display: block;
  margin: 0 auto;
  margin-top: 3.5rem;

}

.contact{
    display: block;
    background: #eb01a5;
  background-image: url("../img/home_contact.svg"); /* fallback */
  background-image: url("../img/home_contact.svg"), linear-gradient(#7045A7, #FFFFFF); /* W3C */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 31.25rem
;
    margin-bottom: 0;
    padding-top: 6.25rem;
}

.contact h4{
  font-weight: 500;
}
.contact h5{
  font-weight: 300;
}
.no-padding{
  padding: 0 0 0 0;
}
.teacher-name{
  font-weight: 500;
}
.education-bio{
  margin-top: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
.service-box h4{
font-weight: 500;
font-size: 2rem;
}
.service-box h5{
  line-height: 2.1875rem;
}
/*--------------------- form*/

.input-box:focus {
  display: block;
    background-color: #E3DAF1;
}
.input-box[type="text"] {
    font-size:.875rem;
    color: #444444
}

::-webkit-input-placeholder {
 font-size: 14px;
 color: #926FBF;
}
:-moz-placeholder { /* older Firefox*/
  font-size: 14px;
  color: #926FBF;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  color: #926FBF;
}
:-ms-input-placeholder {
  font-size: 14px;
  color: #926FBF;
}

.submit{
  cursor: pointer;
}


/* ----------------------------------------
Buttons
------------------------------------------- */
 .direction-button{
  width: auto;
  height:2.5rem;/*40px*/
  margin: 0 auto;
  display: block;
  background-color: #774BAF;
  color: #fff;
  text-decoration: none;
  padding: 0 3.125rem 0 3.125rem;/*50px*/
  margin-top: 1.875rem;/*30px*/
  text-decoration: none;
  font-size: 1.25rem;/*20px*/
  letter-spacing: .0625rem;
  font-family: "Roboto";
  font-weight: 300;
  border: none;
  text-transform:none;



}
 .direction-button:hover{
  background-color: #774BAF;
  color: #fff;
  text-decoration: none;
  opacity: .9;
}
.contact-title h4{
  font-size: 1.50rem;

}

.contact-info{
  color:#FFF;
  letter-spacing: .0625rem;
  margin-top: 6.25rem;
  text-align: center;
  line-height: 1.875rem;/*30px*/
  font-size: 1rem;
  font-weight: 300;
}

.inquiry{
  color:#774BAF;
  margin-top: 1.875rem;/*30px*/
  text-align: center;
  line-height: 1.5625rem;/*25px*/
  font-size: 0.875rem;/*14px*/
  font-weight: 300;
  font-style: italic;
}


/* Modal Content */
/* CHANGE 1: create a hidden parent to the modal */
#parent {
    display: none;
}
/* The Modal (background) - CHANGE 2, removed display none */
.modal2 {
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 6.25rem;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -18.75rem;/* -300px*/
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top:  -18.75rem;/* -300px*/
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 1.75rem; /*28px*/
    font-weight: bold;
    line-height: 1;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header2 {
  height: 7%;
    padding: .3125rem 1rem;/* 5px 16px*/
    background-color: #F4AD0F;
    color: white;
}
.modal-body2 {
    width: 100%;
    height: 100%;
}
/*.modal-footer2 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/

      .map {
        display: block;
        width: 100%;
        height: 100%;
      }
#firstHeading{
  font-size: 1.25rem;/*20px*/
}
.marker-address{
  font-size: 1rem;/*20px*/
  text-align: center;
  letter-spacing: .03125rem;/*.5px*/
}
#marker-direction{
  text-align: right;
}
/*------------------------------------ sub-buttons*/

a .rsvp-button{
  width: auto;
  height: 2.5rem;/*40px*/
  margin: 0 auto;
  display: block;
  background-color: #237EEE;
  color: #fff;
  text-decoration: none;
  padding: 0 3.125rem 0 3.125rem;/* 50px*/
  margin-top: 5rem; /*80px*/
  text-decoration: none;
  font-size: 1.25rem;/* 20px*/
  letter-spacing: .0625rem;
  font-family: "Roboto";
  font-weight: 300;
  border: none;

}
a .rsvp-button:hover{
  background-color: #237EEE;
  color: #fff;
  text-decoration: none;
  opacity: .9;
}

/* ----------------------------------------
Form
------------------------------------------- */
form{
	margin: 0 auto;
}
form input, textarea{
	display: block;
	border:none;
	width: 90%;
	padding: .625rem;
	margin: 0 auto;
	margin-bottom: 0.9375rem;/*15px*/
  color: #EDEDED;
  font-size: 0.9375rem;/*15px*/
}

form button{
  display: block;
	border:none;
	width: 90%;
	padding: .625rem;
	margin: 0 auto;
  background-color: #774BAF;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1.125rem;/*18px*/
  font-weight: 400;
  letter-spacing: .03125rem;
}

textarea{
	height: 200px;
}
input:focus {
	outline: none !important;
	 border-color: #774BAF;
	 /*box-shadow: 0 0 5px pink;*/
}

textarea:focus {
	outline: none !important;
	 border-color: #774BAF;
	 /*box-shadow: 5px pink;*/
}

/* ==========================================================================
Subpage
========================================================================== */
ul{
  color: #616161;
  letter-spacing: .03125rem;
}
li{
  margin-bottom: .625rem;
}

.sub-heading-box{
  position:relative;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 3.125rem;/*50px*/
  padding-top: 3.125rem;/*50px*/
  padding-bottom: 3.125rem;/*50px*/
  margin-top: 6.25rem;
  margin-bottom: 4.375rem;/* 70px*/
}

.sub-heading-position{
  position: absolute;
  right: 35%;
  margin: 0 auto;
  text-align: center;
  width: auto;
  display: block;
  margin-bottom: 4.375rem;/* 70px*/
  z-index: 2;
}

.sub-header-img{

}

.el-braket{
  margin: 0 auto;
  top: -70%;
  position: absolute;
  display: block;
  border-bottom: 2px solid #774BAF;
  border-right: 2px solid #774BAF;
  width: 2.3125rem;/*37px*/
  height: 4.5625rem;
  z-index: 1;
  right: -37%;
}
.sub-heading-position-seminar{
  position: absolute;
  right: 25%;
  margin: 0 auto;
  text-align: center;
  width: auto;
  display: block;
  margin-bottom: 4.375rem;/* 70px*/
  z-index: 2;
}
.el-braket-seminar{
  margin: 0 auto;
  top: -70%;
  position: absolute;
  display: block;
  border-bottom: 2px solid #237EEE;
  border-right: 2px solid #237EEE;
  width: 2.3125rem;/*37px*/
  height: 4.5625rem;/*73px*/
  z-index: 1;
  right: -25%;
}


.image-center{
  display: block;
  margin: 0 auto;
}
.margin-top-20{
  margin-top: 1.25rem;/*20px*/
}

.margin-bottom-50{
  display: block;
  margin-bottom: 3.125rem;/*50px*/
}
.margin-bottom{
  display: block;
  margin-bottom: 9.375rem;/*150px*/
}

.margin-top-100{
  margin-top: 6.25rem;
}
.margin-bottom-100{
  margin-bottom: 6.25rem;
}
.margin-top-200{
  margin-top: 12.5rem;
}
.margin-bottom-200{
  margin-bottom: 12.5rem;
}

.divider{
  border: 1px solid #237EEE;
  width: 80%;
  margin: 0 auto;
  margin-top:1.875rem;/*30px*/
  margin-bottom: 1.875rem;/*30px*/
}
.seminar-description{
  font-weight: 400;
  margin-bottom: 1.25rem;/* 20px*/
  font-size: 1.25rem;/* 20px*/
  color: #237EEE;
}

/*----------------------------- table*/
table, th, td {
border: 2px solid #774BAF;
border-collapse: collapse;
}
th, td {
padding: .625rem;
text-align: center;
color:#774BAF;
}

th{
  letter-spacing: .03125rem;
}
td {
  color: #616161;
}

.table-wrapper{
  display: block;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 9.375rem;/*150px*/

}

/*-----------------------------flexbox*/


.seminar-flex-wrapper{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box-wrapper{
  width: 31%;
  display: flex;
  flex-direction: column;
  /*padding-top: 2rem;*/
}

.flex-box-top{
  display:block;
  width: 100%;
  height: 20%;
  background-color: #1C72DB;
  padding: 0.75rem 1.25rem;/*12/20*/
    color: #FFF;
}
.flex-box-bottom{
  display:block;
  width: 100%;
  height: 80%;
  background-color: #237EEE;
  padding: 3.125rem 1.25rem;/*50/20*/
  color: #FFF;

}

/* ==========================================================================
Footer Styles
========================================================================== */

footer{
  display: block;
  margin: auto 0;
  background-color: #774BAF;
  padding: 1.875rem 0 1.875rem 0;/*30/30*/

}

footer h5{
  color: #FFF;
  letter-spacing: .03125rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin-top: 1.875rem;

}

footer p{
  font: "Roboto";
  color:#FFF;
  font-weight: 300;
  letter-spacing: .03125rem;
  margin-bottom: 3.125rem;

}
.seminar-footer-bg{
  background-color: #237EEE;
}
.copyright{
  font: "Roboto";
  color:#FFF;
  font-weight: 300;
  letter-spacing: .03125rem;
  margin-bottom: 0;
}



/* ==========================================================================
Responsive Styles
========================================================================== */

@media (max-width: 991px) {
    body {
        padding-top: 3.5rem;
    }
    header.masthead > .overlay {
        padding: 10rem 0;
    }
nav{
    background: rgba(255,255,255,0.90);
  }

  .classes-nav-bg{
  background: rgba(119,75,175,0.90);
  }

  #hamburger{
      display: block;
    }

  #nav-bg-perple{
    display: block;
    position: absolute;
    top:0;
    z-index: -1000;
    background-color: #774BAF;
    width: 100%;
    height: 20vh;

  }
}



@media (max-width: 767px) {
    html  {
        font-size: 0.9375rem;
    }

    .margin-top-100{
      margin-top: 0;
    }
    #teacher-photo{
      margin: 4rem 1.5rem 0 1.5rem;

    }
    #about-teacher h4{
      text-align: center;
    }
    #about-teacher h5{
      text-align: center;
    }

    #about-teacher p{
      text-align: center;
      padding: 0 15px;
    }
    .contact{
      background-position: 0 95%;
    }
      .el-braket{
        display: none;
      }
      .el-braket-seminar{
        display: none;
      }

    .sub-heading-position{
      right: 25%;
    }

    .sub-heading-position-seminar{
      right: 0%;
    }

    h2 .sub-heading-position-seminar{
    }

    .sub-heading-box{
      margin-top: 6.25rem;
    }

    .seminar-description{
      text-align: center;
      margin-top: 2rem;

    }

    .flex-box-wrapper{
      width: 48%;
      padding-bottom: 2.5rem;
    }

}


@media (max-width: 575px) {
    html {
        font-size: 0.8125rem;
    }
    header.masthead {

        height: 110vh;
    }
    .sub-heading-position-seminar{
      right: 0%;
    }

    header.classes-head {
        height: 52vh;
    }

header.seminar-head{

  height: 52vh;

}

.flex-box-wrapper{
  width: 100%;

  padding: 1.25rem 3rem;
}

.img-margin-top{
  margin-top: 5.5rem;
}
